<!DOCTYPE html>

{% load static from staticfiles %}


<html>
	<head>
		<meta charset="utf-8">
		<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
		<script type="text/javascript" src="{% static 'js/Get_the_data.js' %}"></script>

	</head>

	<body>

	
	
	<script>

		</script>

		<h1>Go</h1>


			<h1> Connect t0 a qyuad <h1>
	<h1 id="po" name="x_value_var"></h1>
	<h1 id="inside"></h1>
	<!-- <h1 id="po" name="x_value_var">HI</h1> -->


	<input type="text" name="connect_to_quad" id="quad_username">


<button onclick="get_the_data()"> Connect </button>

	</body>
</html>

